@page
@using Microsoft.IdentityModel.Tokens
@model IdentityServerAspNetIdentity.Pages.Organizations.Index

<div>
    <h1>Directories</h1>
    @if (Model.View.Directories.IsNullOrEmpty())
    {
        <p>You are not a part of any directories...</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Ownership</th>
            </thead>
            <tbody>
            @foreach (var directory in Model.View.Directories)
            {
                <tr>
                    <td>@directory.Name</td>
                    <td>@(directory.IsHomeDirectory ? "Home directory" : "Guest")</td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>