@page
@model IdentityServerAspNetIdentity.Pages.Invitations.Invite.Index

<div>
    <label for="email-invite">Enter the user's email to invite them</label>
    <input id="email-invite" type="email"/>
</div>